@import "null.scss";



.wrapper{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

h1{
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #262525;
}

p{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: #262525;
}


